.habitList {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.habits {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: 2px solid black;

  & div {
    border-bottom: 2px solid lightgray;

    &:last-child {
      border-bottom: none;
    }
  }
}

.habitDivider {
  height: 2px;
  width: 100%;
  background-color: darkgrey;
  border-width: 0;
}
