@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
body {
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.mainNav-branding img {
  height: 2em;
}
.mainNav-navbar {
  display: flex;
  flex-direction: row;
}
.mainNav-navbar__li {
  margin: 0 0.75em;
}
@media (min-width: 481px) {
  .mainNav {
    border: 1px solid red;
  }
}
